<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
    version="3.1">
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <servlet>
        <description></description>
        <display-name>ReportingServlet</display-name>
        <servlet-name>ReportingServlet</servlet-name>
        <servlet-class>org.springframework.web.servlet.ReportingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReportingServlet</servlet-name>
        <url-pattern>/report</url-pattern>
    </servlet-mapping>

    <servlet>
        <description></description>
        <display-name>PolicyQuoteServlet</display-name>
        <servlet-name>PolicyQuoteServlet</servlet-name>
        <servlet-class>com.insurance.PolicyQuoteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PolicyQuoteServlet</servlet-name>
        <url-pattern>/PolicyQuoteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PolicyQuoteServlet</servlet-name>
        <url-pattern>/getPolicyQuote</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>policyForm.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <description></description>
        <display-name>PolicyRenewalServlet</display-name>
        <servlet-name>PolicyRenewalServlet</servlet-name>
        <servlet-class>com.ibms.PolicyRenewalServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PolicyRenewalServlet</servlet-name>
        <url-pattern>/PolicyRenewalServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>PolicyCancellationServlet</display-name>
        <servlet-name>PolicyCancellationServlet</servlet-name>
        <servlet-class>com.ibms.PolicyCancellationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PolicyCancellationServlet</servlet-name>
        <url-pattern>/PolicyCancellationServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>PolicyCancelServlet</display-name>
        <servlet-name>PolicyCancelServlet</servlet-name>
        <servlet-class>com.ibms.PolicyCancelServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PolicyCancelServlet</servlet-name>
        <url-pattern>/PolicyCancelServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>PolicyClaimsHistoryServlet</display-name>
        <servlet-name>PolicyClaimsHistoryServlet</servlet-name>
        <servlet-class>com.ibms.PolicyClaimsHistoryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PolicyClaimsHistoryServlet</servlet-name>
        <url-pattern>/PolicyClaimsHistoryServlet</url-pattern>
    </servlet-mapping>
</web-app>